<!DOCTYPE html>
<html ng-app="App">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="app-script.js"></script>
  </head>
  <body>
    <div ng-controller="homeController" class="container">
      <div class="row">
        <form class=" col-md-12" ng-submit="processQuery()">
            <div class="form-group  col-md-offset-1 col-md-8">
                <input type="text" ng-model="query" size="30" placeholder="search" class="form-control">
            </div>
            <div class="form-group col-md-1">
                <input type="submit" value="search" class="btn-primary form-control col-md-2">
            </div>
        </form>
      </div>
      <div class="row">
        <div class="panel panel-default col-md-9 col-md-offset-1">
            <div class="panel-body">
                <strong> Summary : </strong> 
                {{ summary }}
            </div>
        </div>
      </div>
      <div class="row">
          <center><h2> Search Results</h2></center>
          <ul class="list-group">
                <li ng-repeat="result in results.results" class="col-md-9 col-md-offset-1 list-group-item">
                    <p> {{ result.title }}
                    </p>
                <li>
            </ul>
      </div>
    </div>
  </body>
</html>